.counter, .counter__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.counter {
    /*position: relative;*/
    margin-left: 15%;
    height: 34px;
    overflow: hidden;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.counter__btn {
    -ms-flex-pack: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    cursor: pointer;
    color: #525252;
    font-size: 24px;
}

.counter__number {
    display: inline-block;
    vertical-align: top;
    outline: none;
    padding: 1px 0 0;
    margin: 0;
    box-sizing: border-box;
    width: 36%;
    height: 34px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-family: Geometria, sans-serif;
    font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #525252;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}

.scroll-table table {
    width: 50%;
    table-layout: fixed;
}