#scroll-table > table {

}


.counter, .counter__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.counter {
    height: 34px;
    overflow: hidden;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.counter__btn {
    -ms-flex-pack: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    cursor: pointer;
    color: #525252;
    font-size: 24px;
}

.counter__number {
    display: inline-block;
    vertical-align: top;
    outline: none;
    padding: 1px 0 0;
    margin: 0;
    box-sizing: border-box;
    width: 36%;
    height: 34px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-family: Geometria, sans-serif;
    font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #525252;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /*background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));*/
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}

.btn {
    padding-left: 14px;
    padding-right: 14px;
}

.btn_type_light {
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    padding: 8px 40px 6px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #525252;
    text-transform: uppercase;
}

.btn, .btn:active, .btn:focus {
    margin: 0;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    border: none;
    outline: 0;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    word-wrap: break-word;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
    font-family: Geometria, sans-serif;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    /*background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));*/
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}

.counter {

}