.wrapper-product-order {
    background-color: gainsboro;
}

/*span {cursor:pointer; }*/
/*.number{*/
/*    margin:100px;*/
/*}*/
/*.minus, .plus{*/
/*    width:20px;*/
/*    height:20px;*/
/*    background:#f2f2f2;*/
/*    border-radius:4px;*/
/*    padding:8px 5px 8px 5px;*/
/*    border:1px solid #ddd;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*}*/
/*input {*/
/*    height: 34px;*/
/*    width: 100px;*/
/*    text-align: center;*/
/*    font-size: 26px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/






/*.thumbnail {*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);*/
/*    transition: 0.3s;*/
/*    min-width: 60%;*/
/*    border-radius: 5px;*/
/*    width: 286px;*/
/*    height: 492px;*/
/*}*/

/*.thumbnail-description {*/
/*    min-height: 40px;*/
/*}*/

/*.thumbnail:hover {*/
/*    cursor: pointer;*/
/*    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);*/
/*}*/

/*#image {*/
/*    width: 250px;*/
/*}*/




.catalog-wrapp {
    overflow: hidden;
}
.box_padding {
    padding-left: 58px;
    padding-right: 58px;
}

.box {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 260px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div {
    display: block;
}

.catalog-body {
    position: relative;
    color: #525252;
    text-align: left;
    font-family: Geometria,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: whitesmoke;
}

.catalog {
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin: 0 -30px 45px;
}

.catalog__item:nth-child(n+5) {
    margin-top: 20px;
}

.catalog__item {
    box-sizing: border-box;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.product {
    box-sizing: border-box;
    padding: 21px 20px;
    background-color: #fff;
}

.product__link {
    display: block;
    text-decoration: none;
    color: #525252;
}

.product__header {
    height: 54px;
    overflow: hidden;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.product__title {
    font-size: 16px;
    line-height: 18px;
    display: inline;
    font-weight: 700;
    color: #525252;
    text-decoration: underline;
    text-transform: uppercase;
}

.product__figure {
    position: relative;
    margin-top: 13px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

.product__figure:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.product__img {
    display: inline-block!important;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    transition: transform .3s ease;
}

img {
    vertical-align: top;
}

.product__figure:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.product__info {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 9px;
}

.product__consist {
    height: 56px;
    overflow: hidden;
    font-size: 13px;
    line-height: 14px;
    color: #525252;
    margin-top: 13px;
}

.product__cost {
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-pack: justify;*/
    justify-content: space-between;
    margin-top: 29px;
}

.product__price:only-child {
    margin-left: auto;
    margin-right: auto;
}

.product__price {
    font-size: 20px;
    color: #525252;
    position: relative;
    min-height: 26px;
    font-weight: 500;
}

.product__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.product__actions .counter {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50%;
}

.product__actions .counter {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50%;
}

.counter, .counter__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.counter {
    height: 34px;
    overflow: hidden;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.counter__btn {
    -ms-flex-pack: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    cursor: pointer;
    color: #525252;
    font-size: 24px;
}

.counter__number {
    display: inline-block;
    vertical-align: top;
    outline: none;
    padding: 1px 0 0;
    margin: 0;
    box-sizing: border-box;
    width: 36%;
    height: 34px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-family: Geometria,sans-serif;
    font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #525252;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /*background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));*/
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}

.product .btn {
    padding-left: 14px;
    padding-right: 14px;
}

.btn_type_light {
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    padding: 8px 40px 6px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    color: #525252;
    text-transform: uppercase;
}

.btn, .btn:active, .btn:focus {
    margin: 0;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    border: none;
    outline: 0;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    word-wrap: break-word;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
    font-family: Geometria,sans-serif;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    /*background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));*/
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}