body {
    background: url(../images/registration_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container-fluid {
    margin-left: 50px;
}

#login, #password, #confirm-password, #email-address, #mobile_number, #sign_up {
    width: 20%;
}

b {
    background-color: dodgerblue;
    color: white;
}

h1 {
    position: relative;
    left: 45%;
    color: black;
}

label {
    color: black;
}