body {
    text-align: center;
    margin: 0;
    background: url("../images/error_command_background.jpg") no-repeat;
    background-size: cover;
}

div {
    position: absolute;
    top: 40%;
    left: 38%;
}

h1, h2, h4, h6 {
    color: white;
}

h6 {
    font-size: 10px;
}

a {
    font-size: large;
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
    transition: 0.5s;
}