body {
    margin: 0;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

.authentication_error {
    position: relative;
    left: 45%;
}

#message {
    position: absolute;
    left: 35%;
    width: 30%;
    text-align: center;
    z-index:99999999;
    padding: 5px;
}

.valid_message {
    color: darkgreen;
}

.invalid_message {
    color: red;
}
p {
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #ffffaa;
    width: 65%;
    top: 30%;
    left: 19%;
}

h1 {
    position: absolute;
    color: blanchedalmond;
    font-size: 60px;
    top: 15%;
    left: 43%;
}